### Assignment operators
- +=,-=,*=,/=,//=,%=,<=,>=,==

In [1]:
a=10

In [2]:
a

10

In [3]:
a-=2

In [4]:
a

8

In [5]:
a+=3

In [6]:
a

11

In [7]:
a*=2

In [8]:
a

22

### membership operators
- by using this operator we will identify a particular element belongs to agroup or not
- they are in, not in

In [9]:
arr=[1,2,3,4,5,6]

In [10]:
arr

[1, 2, 3, 4, 5, 6]

In [12]:
arr[2]

3

In [16]:
arr=[1,2,3,4,5,6]
inp=3
inp in arr

True

In [17]:
4 in arr

True

In [18]:
10 in arr

False

- when the value is exicting in arr it returns true other wise false

In [19]:
s1="yamini"
'y'in s1

True

In [20]:
"yamini"in s1

True

In [21]:
"siva" in s1

False

#  very important

In [22]:
bits='001001000111'
'00'in bits

True

In [23]:
4 not in arr

False

In [24]:
arr=[1,2,3,4,5,6,7]

In [25]:
8 not in arr

True

In [26]:
1 not in arr

False

### identity operators
- by using this opertors we compare values
- they are is, is not

In [27]:
'abc'is 'abc'# left hand side value compare to right side value

True

In [28]:
'abc'is 'def'

False

In [29]:
123 is not 546

True

In [30]:
123 is 546

False

# conditional control statements
- it controls the flow of execution based on condition
- for that we have few different type of statements
         -- conditional stmts(switch)
         -- looping stmts
         -- jump stmts(continue)

### conditional stmts
- if 
      - if(cond):
            stmt
- if else 
- nested 
- else if ladder

In [31]:
if(5<6):
    print('true')

true

In [32]:
if(5<6):
    print('true')
    print("5 is samll")

true
5 is samll

In [35]:
if(5>6):
    print(' i am inside if')
    print("5 is samll")
print('i am out of if')

i am out of if

In [37]:
if(5<6):
    print(' i am inside if')
    print("5 is samll")
print('i am out of if')

 i am inside if
5 is samll
i am out of if

In [38]:
if(5<5):
    print(' i am inside if')
    print("5 is samll")
print('i am out of if')

i am out of if

In [40]:
if(5<5):
    print(' i am inside if')
    print("5 is samll")
print('i am out of if')

i am out of if

In [41]:
if(4>7):
    print('i am inide if block')
else:
    print('i am inside else block')

i am inside else block

In [45]:
if(23>7):
    print('i am inide if block')
else:
    print('i am inside else block')
print('iam going to exit')

i am inide if block
iam going to exit

In [55]:
if(4>7):
    print('i am inide if block') 
else:
    print('i am inside else block')

i am inside else block

### nested if

In [56]:
if(5<6):
    if(6<7):
        print('6 is existed in b/w 5 and 6')
    else:
        print('wrong choice')
else:
    print('try again')

6 is existed in b/w 5 and 6

In [57]:
if((5<6) and (6<7)):
    print("6 is exicyted in b/w 5 and 6")
else:
    print("try again")

6 is exicyted in b/w 5 and 6

### else if ladder

In [58]:
if(34<67):
    print('true')
elif(34>45):
    print('i am from elif')
else:
    print('false')

true

In [60]:
if(34>67):
    print('true')
elif(34<45):
    print('i am from elif')
else:
    print('false')

i am from elif

## task1: write a logic to find biggest of 2 numbers 34 and 234

In [67]:
n1=int(input("enter n1 value"))
n2=int(input("enter n2 value"))
if(n1>=n2):
    print( n1,"is big ")
else:
    print( n2, "is big")

enter n1 value98
enter n2 value100
100 is big

### task2:biggest of 3 nums
### task3: find a given number is even or not
     - if it is even print power of that val
     - otherwise print multiply taht value with 
### task4: write a logic to find a agiven number is 5 multiple or not

### task2:biggest of 3 nums

In [70]:
n1=int(input("enter n1 value"))
n2=int(input("enter n2 value"))
n3=int(input("enter n1 value"))
print(max(n1,n2,n3))

enter n1 value87
enter n2 value98
enter n1 value76
98

In [62]:
a=10
print(a,'is big')

10 is big

### task3: find a given number is even or not
 - if it is even print power of that val
 - otherwise print multiply taht value with

In [5]:
n1=int(input("Enter n1 value:"))
if(n1%2==0):
    print(n1**2)
else:
    print(n1*5)

Enter n1 value:6
36

### task4: write a logic to find a agiven number is 5 multiple or not

In [3]:
n1=int(input("Enter a number:"))
if(n1%5==0):
    print('given number is is 5 multiple')
else:
    print('given nummber is not   multiple by 5')

Enter a number:10
given number is is 5 multiple