### Looping Statements
 - To perform a task multiple times
 - in python, for and while only
 ### For loop
 - for  i in range():
       #body of the loop

In [1]:
range(10)

range(0, 10)

In [2]:
range(1,10)

range(1, 10)

In [3]:
for y in range(10):
    print(y)

0
1
2
3
4
5
6
7
8
9

In [14]:
for y in range(10):
    print(y,end=',')

0,1,2,3,4,5,6,7,8,9,

In [16]:
for  y in range (1,11):
    print(y,end=' ')

1 2 3 4 5 6 7 8 9 10

In [20]:
for y in range(1,10,2):
    print(y, end=" ")

1 3 5 7 9

##generate 5 0r 10 multiples upto 10

In [23]:
for y in range(1,11):
    print(y*5)

5
10
15
20
25
30
35
40
45
50

In [24]:
# generate a match table for a given number

In [32]:
y1=int(input("Enter a n.o to generate math table:"))
for y in range(1,11):
    print(y1,"*",y,"=",y1*y)

Enter a n.o to generate math table:12
12 * 1 = 12
12 * 2 = 24
12 * 3 = 36
12 * 4 = 48
12 * 5 = 60
12 * 6 = 72
12 * 7 = 84
12 * 8 = 96
12 * 9 = 108
12 * 10 = 120

## task1 :generate math tables from upto given range
##input:5
#2,3,4,5 tables

### while loop
    i=0
    while(cond):
    #body of the loop
    increment/decrement->+=,-=

In [1]:
i=1
while(i<=10):
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

### jump stmts
- by using these stmts we will terminate (exit)the loop
- those are break and continue
- break: break state will terminate the loop per
- continue: it will terminate for instsnt time only

In [7]:
for i in range(100):
    if(i==51):
        break
    print(i,end=' ')

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50

In [9]:
for j in range(1,101):
    if(j%5==0):
        continue
    print(j,end=' ')

1 2 3 4 6 7 8 9 11 12 13 14 16 17 18 19 21 22 23 24 26 27 28 29 31 32 33 34 36 37 38 39 41 42 43 44 46 47 48 49 51 52 53 54 56 57 58 59 61 62 63 64 66 67 68 69 71 72 73 74 76 77 78 79 81 82 83 84 86 87 88 89 91 92 93 94 96 97 98 99

In [10]:
#generate even numbers upto 100(use 3 args)
#input:enter start value:5    upto 5 to 100
#o/p:-6,8,-----100

In [ ]:
a=int(input("Enter a start value:"))
if(a%2==0):
    for x in range(a,101,2):
        print(x,end=' ')
    else:
        for x in range(a+1,101,2):
            print(x, end=' ')

## task1 :generate math tables from upto given range
- input:5

- 2,3,4,5 tables

In [7]:
n=int(input())
for i in range(2,n+1):
    for j in range(1,11):
        print(i,'x',j,'=',i*j)

5
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [9]:
n=int(input())
for i in range(2,n+1):
    for j in range(1,11):
        print(i,'x',j,'=',i*j)

5
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50