In [1]:
l=[10,20,9,100,89,500]
l.sort()

print("max number in a list",l[-1])
print("second max number in a list is",l[-2])

max number in a list 500
second max number in a list is 100

In [3]:
#find the min and max without using predefined function
l=[10,20,9,100,89,500]
m=l[0]            #m=10
for i in l:      #20
    if(i>m):          #i>m=>10>10
        m=i                  #m=i=>m=20
print("max number in a list is ",m)

max number in a list is  500

In [4]:
# find the min number in a list

l=[10,20,9,100,89,500]
m=l[0]            #m=10
for i in l:      #20
    if(i<m):          #i>m=>10>10
        m=i                  #m=i=>m=20
print("max number in a list is ",m)

max number in a list is  9

In [9]:
# sort the list of elements without using predeefined function
l=[10,20,9,100,89,500]
for i in range(len(l)):
    for j in range(i+1,len(l)):
        if(l[i]>l[j]):
            t=l[i]
            l[i]=l[j]
            l[j]=t
            
            
l

[9, 10, 20, 89, 100, 500]

In [11]:
# find the prime numbers in a list
l=[2,3,4,5,6,7,8,9,10,11]   #2,3,5,7,11
plist=[]
for i in l:
    c=0
    for j in range(2,i):
        if(i%j==0):
            c=c+1
    if(c==0):
        print("prime number is ",i)
        plist.append(i)
            
plist

prime number is  2
prime number is  3
prime number is  5
prime number is  7
prime number is  11

[2, 3, 5, 7, 11]

In [23]:
# print the square of a list elements
l=[1,2,3,4]#=>[1,4,9,16]
li=[]
for i in l:
    li.append(i*i)
li

[1, 4, 9, 16]

## TUPLES

* Tuples is like a lists
* Tuples are immutable list
* Tuples are create by using ()

In [25]:
t=(1,2,3,"hello",4.5,9.9)
type(t)

tuple

In [28]:
t=(1,2,3,[10,20,30],"hello",6.77)
t

(1, 2, 3, [10, 20, 30], 'hello', 6.77)

In [34]:
li=[1,2,4,[23.45,8.0],"hello"]

In [42]:
t=(1,2,3,"hello","5.7")
t[-1]
t[1:]
t[3:-1]
t[-2]
t[::-1]
t[0::2]

(1, 3, '5.7')

In [44]:
t=([1,2,3],[4,5,6])
t[0]
t[1]
t[1][0]

4

In [48]:
t=(1,2,3,4,5,6,7,8,"hello")
t[0]="welcome"

TypeError: 'tuple' object does not support item assignment

In [49]:
l=[1,2,3,4,5,6]
l[0]=100
l

[100, 2, 3, 4, 5, 6]

In [51]:
print(dir(tuple))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [53]:
t=(1,2,3,4,5,6,"hello","good",1,1)
t.count(3)

1

In [55]:
t.index("hello")

6

### Sets

* Set is a un-order data elements
* Set can be create by using {}
* Set didn't allow the duplicate elements

In [58]:
# create a set
s={1,2,3,4,"hello","good",2.4}
type(s)

set

In [60]:
# without passing elements that object return dictionary
s={}
type(s)

dict

In [62]:
s={1,2,3,4,4,4,1,34,123,45.65,45.65,"hello","hello"}
s

{1, 123, 2, 3, 34, 4, 45.65, 'hello'}

In [67]:
# we can't access the set elements by using index position
s={10,20,30,"nice","cook"}
s

{10, 20, 30, 'cook', 'nice'}

In [68]:
for i in s:
    print(i)

10
20
nice
30
cook

In [72]:
s={1,2,3,(12,37,37),"hello"}
s

{(12, 37, 37), 1, 2, 3, 'hello'}

In [73]:
s={1,2,3,[12,37,37],"hello"}

TypeError: unhashable type: 'list'

In [74]:
s={1,2,3,{12,37,37},"hello"}

TypeError: unhashable type: 'set'

In [76]:
l=[10,20,30]
s=set(l)
s

{10, 20, 30}

In [77]:
dir(s)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [79]:
s={1,2,3,4,5}
s.add("hello")
s.add(200)
s

{1, 2, 200, 3, 4, 5, 'hello'}

In [82]:
s.clear()
s

NameError: name 's' is not defined

In [83]:
del(s)

NameError: name 's' is not defined

In [85]:
s={1,2,3,4,5,6}
s_copy=s.copy()
s_copy

{1, 2, 3, 4, 5, 6}

In [87]:
s1={1,2,3,4,5,6,7}
s2={1,10,2,20,30,5}
s1.difference(s2)      #s1-s2
s2.difference(s1)      #s2-s1

{10, 20, 30}

In [88]:
s1

{1, 2, 3, 4, 5, 6, 7}

In [90]:
s1.difference_update(s2)
s1

{3, 4, 6, 7}

In [91]:
s1={1,2,3,4,5,6,7}
s1.discard(2)
s1

{1, 3, 4, 5, 6, 7}

In [92]:
s1={1,2,3,4,5,6,7}
s2={1,10,2,20,30,5}
s1.intersection(s2)

{1, 2, 5}

In [94]:
s1={1,2,3,4,5}
s2={10,20,30,40,50,1}
s1.isdisjoint(s2)

False

In [95]:
s1={1,2,3,4,5}
s2={10,20,30,40,50,1}
s1.issubset(s2)

False

In [96]:
s2.issubset(s1)

False

In [97]:
s1={1,2,3,4,5,6}
s2={1,2,3}
s1.issuperset(s2)

True

In [98]:
s2.issubset(s1)

True

In [99]:
s1={10,20,1,2,3,4,5}
s.pop()

1

In [100]:
s

{2, 3, 4, 5, 6}

In [101]:
s={10,20,30,1,2,3,4}
s.remove(10)
s

{1, 2, 3, 4, 20, 30}

In [103]:
s.discard(100)
s

{1, 2, 3, 4, 20, 30}

In [104]:
a={1,2,3,4,5,6,7}
b={1,2,20,30,40,50}
a.symmetric_difference(b)

{3, 4, 5, 6, 7, 20, 30, 40, 50}

In [105]:
a.symmetric_difference_update(b)

In [106]:
a

{3, 4, 5, 6, 7, 20, 30, 40, 50}

In [107]:
a={1,2,3,4}
b={5,4,6,7}
a.union(b)

{1, 2, 3, 4, 5, 6, 7}