In [1]:

print("Welcome to the Collections concept in python")

Welcome to the Collections concept in python


# Collections in python 
    - List
    - Tuple
    - Set
    - Dictionary


# List 
 - List data can be represented by using [] or list()
 - List allow duplicate value
 - We can manupulate data by using indexing and Slicing
 - Oredered format values are stored in a list

In [4]:
List1=[1,2,3]
List1

[1, 2, 3]

In [6]:
List2=["Kalyan","Badulla","Rakesh"]
List2

['Kalyan', 'Badulla', 'Rakesh']

In [7]:
list3=["Ram",1,"Sam",2,"Nayan",3]
print(list3)

['Ram', 1, 'Sam', 2, 'Nayan', 3]

In [8]:

# Indexing 
list3[2]

'Sam'

In [9]:
list3[4]

'Nayan'

In [10]:

list3[5]

3

In [11]:
list3[-1]

3

In [12]:
list3[-4]

'Sam'

In [13]:
list3[::-1]

[3, 'Nayan', 2, 'Sam', 1, 'Ram']

In [14]:

list3

['Ram', 1, 'Sam', 2, 'Nayan', 3]

In [15]:
list3[2:]

['Sam', 2, 'Nayan', 3]

In [16]:
list3[0:4]

['Ram', 1, 'Sam', 2]

In [17]:
list3[:-2]

['Ram', 1, 'Sam', 2]

In [18]:

list3[1:4]

[1, 'Sam', 2]

In [19]:
list3[-2:1:-1]

['Nayan', 2, 'Sam']

In [20]:
list3[2:0:-1]

['Sam', 1]

In [21]:

list3[4::-3]

['Nayan', 1]

In [22]:
demo=list3[1:3]
demo

[1, 'Sam']

In [23]:
demo[::-1]

['Sam', 1]

In [24]:
list3

['Ram', 1, 'Sam', 2, 'Nayan', 3]

In [25]:

list3.append("Mounika")
list3

['Ram', 1, 'Sam', 2, 'Nayan', 3, 'Mounika']

In [26]:

list5=[1,2,3]
list6=["a","b","c"]
list5.append(list6)
list5

[1, 2, 3, ['a', 'b', 'c']]

In [27]:

list5=[1,2,3]
list6=["a","b","c"]
list5.extend(list6)
list

list

In [28]:
list5

[1, 2, 3, 'a', 'b', 'c']

In [29]:

list5.remove("c")
list5

[1, 2, 3, 'a', 'b']

In [30]:
list5.pop()
list5

[1, 2, 3, 'a']

In [31]:
list5.pop(2)
list5

[1, 2, 'a']

In [32]:
list5.clear()
list5

[]

In [33]:

del list5

list5

NameError: name 'list5' is not defined

In [34]:
list5.insert(3,"Aravind")
list5

NameError: name 'list5' is not defined

In [35]:
list7=list5 + list6
list7

NameError: name 'list5' is not defined

In [36]:

for  data in list5:
  print(data)

NameError: name 'list5' is not defined

In [37]:
employee=["sam","Mounica","Bhanu"]
manager=["Rakesh","vamsi","Madhavi"]
for emp in employee:
  manager.append(emp)

print(manager)

['Rakesh', 'vamsi', 'Madhavi', 'sam', 'Mounica', 'Bhanu']

In [38]:
if "vamsi" in manager:
  print("He is in manager list")
else:
  print("No he is not one of the manager")

He is in manager list

In [39]:
list5.extend(list6)
list5

NameError: name 'list5' is not defined

In [1]:

def printWords(s): 
    s = s.split(' ')  
    for word in s:  
        if len(word)%2==0: 
            print(word) 
        s = "i am muskan" 
        printWords(s)