In [12]:
list3=['ram',1,'sam','2''nayan','3']

In [13]:
list3

['ram', 1, 'sam', '2nayan', '3']

In [14]:
list5=[1,2,3]
list6=["a","b","c","d"]
list5.append(list6)
list5

[1, 2, 3, ['a', 'b', 'c', 'd']]

In [15]:
list5=[1,2,3]
list6=["a","b","c","d"]
list5.extend(list6)
list5

[1, 2, 3, 'a', 'b', 'c', 'd']

In [16]:
list5

[1, 2, 3, 'a', 'b', 'c', 'd']

In [17]:
list5.remove("d")

In [18]:
list5

[1, 2, 3, 'a', 'b', 'c']

In [19]:
list5.pop()

'c'

In [20]:
list5

[1, 2, 3, 'a', 'b']

In [21]:
list5.insert(3,"Aravind")
list5

[1, 2, 3, 'Aravind', 'a', 'b']

In [22]:
numbers = [20,67,3,2.6,7,74,2.8,90.8,52.8,4,3,2,5,7]
numbers.remove(max(numbers))
max(numbers)

74

In [31]:
list1 = [11,22,1,2,5,67,21,32]
new = set(list1)
new.remove(max(new))
print(max(new))

32

In [7]:
marks=[]
marks_size=int(input("Enter how many marks are there"))
for data in range(marks_size):
   marks_list=int(input("Enter Marks"))
   marks.append(marks_list)

print("Entered Marks are ", marks)
def secondHighest(marks):
  marks.sort()
  return marks[-2]

secondHighest(marks)

Enter how many marks are there3
Enter Marks23
Enter Marks34
Enter Marks22
Entered Marks are  [23, 34, 22]

23